/* Tree Structure View */
#treestruct ul {
    margin-left: 20px;
}
#treestruct .wtree li {
    list-style-type: none;
    margin: 10px 0 10px 10px;
    position: relative;
}
#treestruct .wtree li:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 20px;
    height: 15px;
}
#treestruct .wtree li:after {
    position: absolute;
    content: "";
    top: 5px;
    left: -20px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 20px;
    height: 100%;
}
#treestruct .wtree li:last-child:after {
    display: none;
}
#treestruct .wtree li span:not(.right) {
    display: block;
    border: 1px solid #ddd;
    padding: 10px;
    color: #888;
    text-decoration: none;
}
#treestruct .wtree li span.right {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 10px;
}
#treestruct span.right > i {
    font-size: 23px;
    margin: 0 2.5px;

    opacity: 0.65;
}
#treestruct span.right > i:hover {
    opacity: 1;
    text-shadow: 0 0 1px rosybrown;
}
/* add icon */
#treestruct span.right > i.fa-plus {
    margin-left: 15px;
}
#treestruct .wtree li span:not(.right):hover, #treestruct .wtree li span:not(.right):focus {
    background: #eee;
    color: #000;
    border: 1px solid #aaa;
}
#treestruct .wtree li span:hover ~ ul li span:not(.right), #treestruct .wtree li span:focus ~ ul li span:not(.right) {
    background: #eee;
    color: #000;
    border: 1px solid #aaa;
}
#treestruct .wtree li span:hover + ul li:after, #treestruct .wtree li span:hover + ul li:before, #treestruct .wtree li span:focus + ul li:after, #treestruct .wtree li span:focus + ul li:before {
    border-color: #aaa;
}
